<div class="img-teaser">
  <%= image_tag("bike2.jpg", class: "img-responsive") %>
</div>
<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <h1>Users</h1>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">First name</div>
        <div class="col-md-2">Last name</div>
      </div>
    <br>
      <% @users.each do |user| %>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2"><%= user.first_name %></div>
          <div class="col-md-2"><%= user.last_name %></div>
          <div class="col-md-1"><%= link_to 'Show', user , class: "btn btn-default" %></div>
          <div class="col-md-1"><%= link_to 'Edit', edit_user_path(user), class: "btn btn-default" %></div>
          <div class="col-md-1"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></div>
          <br>
        </div>
      <% end %>
  <br>

  <%= link_to 'New User', new_user_path %>
</div>
