<% cache product do %>
  <div class="col-sm-6 col-md-4 single-product-all">
    <h2><%= link_to product.name, product %></h2>
    <p>Brand: <%= product.brand %></p>
    <%= image_tag(product.image_url, class: "img-responsive product_img") %>
    <div class="product-price">
      <p>Price: <%= product.price %></p>
      <% logger.debug "Product: #{product.name}"%>
    </div>
    <div class="edit_btn">
      <div class="button"><span><%= link_to 'Show', product %></span>
      <span><%= link_to 'Edit', edit_product_path(product) %></span>
      <span><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></span></div>
    </div>
  </div>
<% end %>
