<%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track": false %>
<div class="img-teaser">
  <%= image_tag("bike2.jpg", class: "img-responsive") %>
</div>
<% cache @product do %>
  <div class="container-fluid product-show">
    <%= render 'product-detail', product: @product %>
    <%= form_with(url: '/payments/create') do |form| %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>
    <p id="notice" class="alert alert-info" style="display:none" role="alert">A new comment was posted!</p>
    <div class="edit_btn">
      <div class="button">
        <span><%= link_to 'Edit', edit_product_path(@product) %> </span>
        <span><%= link_to 'Back', products_path %></span>
      </div>
    </div>
  </div>
<% end %>
<% cache @comments do %>
  <div class="container-fluid rating-block">
    <%= render 'new_comment' %>
    <%= render 'comments' %>
    <%= will_paginate @comments %>

    <!--<strong>Highest comment:</strong>
    <p><%= @product.highest_rating_comment&.rating %></p>
    <p><%= @product.lowest_rating_comment&.rating %></p>-->
  </div>
<% end %>
