<!DOCTYPE html>
<html>
  <head>
    <title>Bikes Berlin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  </head>
  <body>
    <div class="container notifications">
       <% if notice %>
           <p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
       <% end %>
       <% if alert %>
         <p id="alert" class="alert alert-danger" role="alert"><%= alert %></p>
       <% end %>
     </div>
    <%= render :template => 'layouts/header2' %>


    <%= yield %>
    <%= render :template => 'layouts/footer' %>


     <%= javascript_include_tag 'alert.js' %>
  </body>
</html>
