<nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
  <div class="container-fluid usp">
    <ul>
      <li class="col-md-3 col-sm-2"><p><i class="far fa-check-circle"></i> USP 1: Super-Sale</p></li>
      <li class="col-md-3 col-sm-2"><p><i class="far fa-check-circle"></i> USP 2: Discount</p></li>
      <li class="col-md-3 col-sm-3"><p><i class="far fa-check-circle"></i> USP 3: Free-Shipping</p></li>
      <li class="col-md-3 col-sm-3"><p><i class="far fa-check-circle"></i> USP 4: Payments</p></li>
    </ul>
  </div>

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-menu"> <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="col-lg-3 col-md-2">
  <div class="navbar-brand2">
     <%= link_to image_tag('bestberlinbikes-w_logo.png', class: "logo"), root_path %>
    </span>
  </div>
</div>
  <div class="col-lg-3 col-md-3">
      <div id="search" class="nav navbar-nav navbar-center">
        <form class="nav navbar-nav navbar-center" role="search">
          <div class="input-group">
            <input type="text" class="search form-control input-sm" placeholder="Search" id="sitesearch">
            <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6 col-md-7 navright">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="nav navbar-nav navbar-right block1">
        <li>  <%= link_to "", '#', class: "glyphicon glyphicon-user", type: "span" %></li>
        <li>  <%= link_to "", '#', class: "glyphicon glyphicon-log-in", type: "span" %></li>
      </ul>
  <ul class="navbar-nav navbar-right block2 mr-auto">
    <li class="nav-item active navblock">
      <p><i class="fas fa-bicycle"></i>
      <%= link_to "Products", simple_pages_products_path, :class => "nav-link" %>
      </p>
    </li>
    <li class="nav-item navblock">
      <p><i class="fas fa-question-circle"></i>
      <%= link_to "About", simple_pages_about_path, :class => "nav-link" %>
    </p>
    </li>
  <!--  <li class="nav-item dropdown navblock">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li> -->
    <li class="nav-item navblock">
      <p><i class="far fa-envelope"></i>
      <%= link_to "Contact", simple_pages_contact_path, :class => "nav-link" %>
      </p>
    </li>
  </ul>
</div>
</div>
</nav>

    <!--  <button>
        <%= link_to "Sign up now!", '#', class: "btn btn-outline-dark", type: "button" %>
      </button> for later -->
